resources
temp.py
.vscode
.idea
.serverless
__pycache__
env
venv
pyzbar*/
*Levenshtein*/
dominate*/
fuzzywuzzy*/
bin
unidecode*/
Unidecode*/
xlrd*/
*.zip
#*.png
lambda_deployment/
.~lock*
*.bak
BallotImageArchive*

.serverless
*.pyc
*.pyd
*.c
*.html
*.metadata.json

file_download/
file_list/
dvc.lock
.venv
params_edited/
pdf_mapper/__pycache__
pdf_mapper/__pycache__/pdf_extract.cpython-38.pyc
pdf_mapper/__pycache__/pdf_extract.cpython-38.pyc
pdf_mapper/__pycache__/pdf_mapper.cpython-38.pyc
build/
params/system_status_lod.json.metadata.json
params/system_status_lod.json.metadata.json
params/system_status_report.html.metadata.json
params/system_status_report.md.metadata.json
params/NJ_Monmouth_20221108/DRAFT_BMDIF_NJ_Monmouth_20221108.csv.metadata.json
