resources
temp.py
.vscode
.idea
.serverless
__pycache__
env
venv
pyzbar*/
*Levenshtein*/
dominate*/
fuzzywuzzy*/
bin
unidecode*/
Unidecode*/
xlrd*/
*.zip
#*.png
lambda_deployment/
.~lock*
*.bak
BallotImageArchive*

.serverless
*.pyc
*.pyd
*.c
*.html
*.metadata.json

file_download/
file_list/
dvc.lock
.venv
params_edited/
pdf_mapper/__pycache__
pdf_mapper/__pycache__/pdf_extract.cpython-38.pyc
pdf_mapper/__pycache__/pdf_extract.cpython-38.pyc
pdf_mapper/__pycache__/pdf_mapper.cpython-38.pyc
build/
params/system_status_lod.json.metadata.json
params/system_status_lod.json.metadata.json
params/system_status_report.html.metadata.json
params/system_status_report.md.metadata.json
params/NJ_Monmouth_20221108/DRAFT_BMDIF_NJ_Monmouth_20221108.csv.metadata.json
tests/Comparison of Polars and Pandas.url
tests/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2022_1.csv
Pipfile
Pipfile.lock
Pydf.egg-info/dependency_links.txt
Pydf.egg-info/PKG-INFO
Pydf.egg-info/requires.txt
Pydf.egg-info/SOURCES.txt
Pydf.egg-info/top_level.txt
tests/tempdata1.db
tests/tempdata1.db
tests/tempdata1.db
tests/tempdata2.db
docs/test_df_vs_pydf.md
tests/tempdata2.db
docs/test_df_vs_pydf.md
docs/pydf_demo.md
docs/test_df_vs_pydf.md
tests/tempdata1.db
tests/tempdata2.db
